/*------------------------------------*\
    Header
\*------------------------------------*/

.header {
    position: relative;
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2.4rem;
    transition: var(--transition);

    @include bp(small-up) {
        padding: 5.6rem 4rem;
    }
    @include bp(medium-up) {
        padding: 5.6rem 16.5rem;
    }
}

.header__site-link {
    width: 16.1rem;
    height: auto;
}

.header__nav-bg {
    display: none;

    @include bp(small-down) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--c-bg-red);
        height: 100%;
        width: 52rem;
        z-index: -1;
        transition: var(--transition);
        transform: translateY(-100%);
    }

    @include bp(medium) {
        width: 70.5rem;
    }
}

.header__nav {
    // width: 100%;
    display: none;

    @include bp(small-down) {
        display: block;
    }
}

.header__nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__nav-list-item {
    margin: 0 1.1rem;
    opacity: 0;

    @include bp(medium) {
        margin: 0 1.6rem;
    }
}

.header__nav-link {
    color: var(--c-font-white);
    font-size: 1.6rem;

    &:hover {
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
    }
}
